<link href='http://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
<style>div.yomainbody {background: url('');background:#9C8C8C;
border: 10px solid #5C5050;border-top: 10px solid #6B5F5F; border-left: 10px solid #6B5F5F; border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;border-top-left-radius: 20px;border-top-right-radius: 20px;width:450px;z-index:100;} 
.awesomepic {width: 390px;height: 180px;border: 4px inset #857777;background: transparent;padding: 2px;
background-image: url('400x200 IMAGE HERE');-webkit-border-radius: 0px;-moz-border-radius: 0px;-webkit-transition: all 0.95s ease-out;
-moz-transition: all 0.95s ease-out;}  
.awesomepic:hover {width: 390px;height: 180px;border: 4px outset #857777;background: transparent;padding: 2px;
background-image: url('400x200 IMAGE HERE');-webkit-border-radius: 0px;-moz-border-radius: 0px;
-webkit-transition: all 0.95s ease-out;-moz-transition: all 0.95s ease-out;box-shadow: 0 0 4px #000;} 
h1 {font-size: 20px;font-family: New Rocker;font-weight: lighter;text-transform: uppercase;text-align: center;text-shadow: -1px -1px -1px #000;
letter-spacing: 3px; display: block;color: #cecece;margin-top: 2px;margin-bottom: 2px;
border-bottom: 2px double #616068;line-height: 18px;} 
h1:first-letter {font-size: 25px;font-family: New Rocker;font-weight: lighter;text-transform: normal;text-shadow: -1px -1px -1px #000;
color: #785C5C;line-height: 22px;}
.stylingyo {font-size: 9px;padding-left:10px;padding-right:10px;font-family:"Comic Sans MS", cursive, sans-serif;}</style>
