 .player1 {
   width: 520px;
   heigth: 430px;
   min-width:520px;
   min-height:430px;
   background-image: url(https://i.imgur.com/LAYfYzj.png);
   position: relative;
   visibility: visible;
        -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player1:hover {
   width: 520px;
   heigth: 430px;
   min-width:520px;
   min-height:430px;
   background-image: url(https://i.imgur.com/k4Be2dJ.png);
   position: relative;
   z-index: 1;
 }


 .player2 {
   width: 520px;
   heigth: 430px;
   min-width:520px;
   min-height:430px;
   background-image: url(https://i.imgur.com/JMKKxhG.png);
   position: relative;
   visibility: visible;
   z-index: 1;
 }
 

 
 .player2:hover {
   width: 500px;
   heigth: 280px;
   min-width:500px;
   min-height:280px;
   background-image: url(https://i.imgur.com/FC7HJHl.png);
   position: relative;
   z-index: 1;
 }


 .player3 {
   width: 520px;
   heigth: 430px;
   min-width:520px;
   min-height:430px;
   background-image: url(https://i.imgur.com/sRUWceh.png);
   position: relative;
   visibility: visible;
          -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player3:hover {
   width: 500px;
   heigth: 280px;
   min-width:500px;
   min-height:280px;
   background-image: url(https://i.imgur.com/E07kpRp.png);
   position: relative;
   z-index: 1;
 }


 .player4 {
   width: 520px;
   heigth: 430px;
   min-width:520px;
   min-height:430px;
   background-image: url(https://i.imgur.com/QPmA5N8.png);
   position: relative;
   visibility: visible;
   z-index: 1;
 }
 

 
 .player4:hover {
   width: 500px;
   heigth: 280px;
   min-width:500px;
   min-height:280px;
   background-image: url(https://i.imgur.com/foqmj4S.png);
   position: relative;
   z-index: 1;
 }
