 .player1 {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/ejccGC0.png);
   position: relative;
   visibility: visible;
        -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player1:hover {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/V1k3Qyh.png);
   position: relative;
   z-index: 1;
 }


 .player2 {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/0S5eTJe.png);
   position: relative;
   visibility: visible;
          -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player2:hover {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/0eWLo0x.png);
   position: relative;
   z-index: 1;
 }


 .player3 {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/Sz65OZQ.png);
   position: relative;
   visibility: visible;
        -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player3:hover {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/p5KSQam.png);
   position: relative;
   z-index: 1;
 }


 .player4 {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/mcFw2F9.png);
   position: relative;
   visibility: visible;
          -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player4:hover {
   width: 500px;
   heigth: 400px;
   min-width:500px;
   min-height:400px;
   background-image: url(https://i.imgur.com/ylkFwBF.png);
   position: relative;
   z-index: 1;
 }
