 .player1 {
   width: 520px;
   heigth: 430px;
   min-width:520px;
   min-height:430px;
   background-image: url(https://i.imgur.com/FqMmjY1.png);
   position: relative;
   visibility: visible;
      -webkit-transition: all 1.5s ease;
   -o-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
   z-index: 1;
 }
 

 
 .player1:hover {
   width: 500px;
   heigth: 280px;
   min-width:500px;
   min-height:280px;
   background-image: url(https://i.imgur.com/kgUGdHf.png);
   position: relative;
   z-index: 1;
 }
